body{
    background: #121212;
    color: #f5f5f5;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image{
    width: 30rem;
    margin-top: 4rem;
}

@media(max-width: 770px){
    .container{
        margin: 0 10%;
    }

    .image{
        width: 100%;
    }
}